header {
    background-color: #551a8b;
    color: rgba(255,255,255,0.8);
    font-family: 'Lato' , sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
ul {
    display: flex;
    list-style: none;
    flex-direction: row;

}
li {
    margin: 5px;
}
    a {
        text-decoration: none;
    }
    a:link {
        color:rgba(255,255,255,0.8);
    }
    a:visited {
        color: rgba(255,255,255,0.8);
    }
    a:hover {
        color:rgba(255,255,255,0.8);
    }
    a:active {
        color:aliceblue;
    }
    /* .container {
        height: fit-content;
    } */
    .circle1 {
        background-color: rgba(247, 136, 167, 0.6);
        height: 250px;
        width: 250px;
        border-radius: 50%;
        display: flex;
    }
    .cirle2 {
        background-color: rgba(247, 193, 162, 0.7);
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .circle3 {
        background-color: rgba(207, 130, 213, 0.6);
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }