header {
    background-color: #551a8b;
    color: rgba(255,255,255,0.8);
    font-family: 'Lato' , sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
ul {
    display: flex;
    list-style: none;
    flex-direction: row;

}
li {
    margin: 5px;
}
    a {
        text-decoration: none;
    }
    a:link {
        color:rgba(255,255,255,0.8);
    }
    a:visited {
        color: rgba(255,255,255,0.8);
    }
    a:hover {
        color:rgba(255,255,255,0.8);
    }
    a:active {
        color:aliceblue;
    }